@media(max-width:375px){
    p.company-header{
        font-family: 'Kumbh Sans';
        color: hsl(26, 100%, 55%)!important;
        font-size: 14px;
        font-weight: bolder;
        text-transform: capitalize!important;
        letter-spacing: 1px;
        padding: 5px;
        margin-bottom: 5px!important;
    }
    h3.product-title{
        font-size: 26px;
        font-weight: bold!important;
        padding-right: 20px;
    }
    p.pdescription{
        font-size: 16px;
        padding-right: 2px;
        color: hsl(0, 0%, 0%);
    }
    .current-price{
        font-family: 'Kumbh Sans';
        font-size: 26px;
        font-weight: bolder;
        color: hsl(0, 0%, 0%);
    }
    .discount-col{
        margin: auto!important;
        margin-right: 20px!important;
    }
    .discount{
        width:50%;
        background-color: hsl(25, 100%, 94%);
        color: hsl(26, 100%, 60%)!important;
        font-family: 'Kumbh Sans';
        font-size: 16px;
        padding-left: 8px;
        border-radius: 5px;
        font-weight: bolder;  
    }
    .initial-price{
        text-decoration: line-through;
        color: hsl(220, 14%, 75%)!important;
        font-family: 'Kumbh Sans';
        font-size: 16px;
        margin-left: 18px;
        font-weight: bolder;  
    }
    .initial-col{
        margin: auto!important;
    }
}
