.navbar{
    padding-top:2.8rem!important;
    padding-bottom: 2.4rem!important;
    border-bottom: 1px solid hsl(220, 14%, 75%); 
    max-width: 95%; 
    max-height: 35px;
    margin: auto; 
}
.nav-link{
    padding-top:2.8rem!important;
    padding-bottom: 2.0rem!important;
}
a.nav-link{
    cursor:pointer!important;
    margin-bottom: 20px;
} 
a.nav-link:hover{
    margin-bottom: 20px;
    border-bottom: 2px solid hsl(26, 100%, 55%);
    color:hsl(0,0,0)
}

#cartButton{
    border:none;
    background: none;
    margin-right: 20px
}
#avatarButton{
    border:none;
    background: none;
    
    
}
#avatarButton>img:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}